<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
</head>
<body bgcolor="lightblue">
    <h1 align="center"><b>Registration Form</b></h1><br><br>

    <form align="center" action="/submit_form" method="POST">
        <div class="container">
            <label><b>Name:</b></label><br>
            <input type="text" name="name"><br>
            <label><b>Email:</b></label><br>
            <input type="email" placeholder="Enter email" name="email"><br>
            <label><b>Password:</b></label><br>
            <input type="password" placeholder="Enter password" name="password"><br>
            <input type="submit" value="Submit Form">
        </div>
    </form>
</body>
</html>
